.timer {
  font-size: 13px;
  color: gray;
  position: relative;
  margin-left: 40px;
}

.todo-list li .timer .icon-pause,
.todo-list li .timer .icon-play {
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin: 0;
  position: absolute;
}
.icon-play {
  top: 0;
  left: -40px;
}
.icon-pause {
  top: 0;
  left: -20px;
}
.icon-pause:after {
  content: '⏸';
}

.icon-play:after {
  content: '▶';
}
